<html lang="en">
  <%- include('./partials/head'); %>
  <body onload="onLoadRedirect()" style="background-color: lightgray">
    <%- include('./partials/header'); %>
    <div class="container">
      <!-- Content here -->
      <br />
      <h1 style="text-align: center; margin-bottom: 1em">
        ¡Éxito! Gracias por tu compra.
      </h1>
      <a
        href="/cart"
        class="btn btn-primary"
        style="display: block; width: fit-content; margin: auto"
        >Volver al carrito</a
      >
    </div>
  </body>
  <%- include('./partials/footer'); %>
</html>
