head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  title Document
.container
  // Content here
  br
  h1 Add Product
  br
  form(action='/productos' method='post')
    .form-group
      label(for='exampleInputEmail1') Name
      input#title.form-control(type='text' name='title' aria-describedby='emailHelp' placeholder='Enter name')
    .form-group
      label(for='exampleInputEmail1') Price
      input#price.form-control(type='number' name='price' aria-describedby='emailHelp' placeholder='Enter price')
    .form-group
      label(for='exampleInputEmail1') Picture
      input#thumbnail.form-control(type='text' name='thumbnail' aria-describedby='emailHelp' placeholder='Enter picture')
    br
    button.btn.btn-primary(type='submit') Send
    br
    br
    a.btn.btn-secondary(href='/productos') View Products
