<html lang="en">
  <%- include('./partials/head'); %>
  <body style="background-color: lightgray">
    <%- include('./partials/header'); %>
    <div class="container" style="text-align: center">
      <!-- Content here -->
      <br />
      <iframe
        src="https://giphy.com/embed/l0MYC0LajbaPoEADu"
        width="480"
        height="277"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
      <br />
      <br />
      <br />
      <h1>Welcome!</h1>
      <br />
      <p>What you would like to do?</p>
      <br />
      <a href="/login" class="btn btn-primary">Loguearme</a>
      <a href="/registro" class="btn btn-primary">Registrarme</a>
    </div>
  </body>
  <%- include('./partials/footer'); %>
</html>
