<html lang="en">
  <%- include('./partials/head'); %>
  <body style="background-color: lightgray">
    <%- include('./partials/header'); %>
    <div class="container">
      <br />
      <h1>Products</h1>
      <% if (body) { %>
      <table class="table" style="background-color: black; color: white">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Picture</th>
            <% if (user) { %>
            <th scope="col">ATC</th>
            <% }; %>
          </tr>
        </thead>
        <tbody id="productos" style="color: gray">
          <%- body %>
        </tbody>
      </table>
      <% if (!user) { %>
      <div style="padding: 0">
        <a href="/login" class="btn btn-primary">Login to buy...</a>
      </div>
      <% }; %> <% } else { %>
      <p>There is no data yet.</p>
      <% }; %>
    </div>
    <script src="/js/addtocart.js"></script>
    <%- include('./partials/footer'); %>
  </body>
</html>
