<html lang="en">
  <%- include('./partials/head'); %>
  <body style="background-color: lightgray">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <%- include('./partials/header'); %>
    <div class="container">
      <br />
      <h1>Registro de Usuario</h1>
      <br />
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        id="registro-form"
      >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Enter username"
            required
          />
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Enter password"
            required
          />
          <input
            type="password"
            class="form-control"
            name="password-confirm"
            id="password-confirm"
            placeholder="Confirm password"
            required
          />
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter name"
            required
          />
          <input
            type="email"
            class="form-control"
            name="address"
            id="address"
            placeholder="Enter email address"
            required
          />
          <label for="address"
            >Para recibir notificaciones utilizar
            <a href="https://ethereal.email/" target="_blank"
              >ethereal.email</a
            ></label
          >
          <input
            type="number"
            class="form-control"
            name="age"
            id="age"
            type="number"
            placeholder="Enter age"
            required
          />
          <input
            type="text"
            class="form-control"
            name="phone"
            id="phone"
            type="tel"
            value="+1 "
            placeholder="Enter phone"
            required
          />
          <input
            type="file"
            class="form-control"
            name="avatar"
            id="avatar"
            placeholder="Enter avatar"
          />
          <div class="form-control">
            <label for="isadmin" style="margin: 0">Is admin?</label
            ><input
              type="checkbox"
              name="isadmin"
              id="isadmin"
              style="margin: 5px"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
    <div class="container">
      <a href="/login" class="btn btn-primary">Ir al login</a>
    </div>
    <script>
      const phoneInputField = document.querySelector("#phone");
      const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
      });
    </script>
    <script src="/js/registro.js"></script>
    <%- include('./partials/footer'); %>
  </body>
</html>
