<div class="container">
  <!-- Content here -->
  <br />
  <h1>Products View</h1>
  {{#if body}}
    <table class="table" style="background-color: black; color: white;">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Picture</th>
        </tr>
      </thead>
      <tbody style="color: gray">
        {{#each body}}
          <tr>
            <td style="color: white;">{{this.title}}</td>
            <td style="color: white;">{{this.price}}</td>
            <td><img src="{{this.thumbnail}}" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <br />
    <form action="/borrado" method="post">
      <button type="submit" class="btn btn-danger">Delete all</button>
    </form>
  {{else}}
    <p>There is no data yet.</p>
  {{/if}}
  <br />
  <a href="/" class="btn btn-secondary">Add Products</a>
</div>