<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/main.js"></script>
    <title>Registro</title>
  </head>
  <body>
    <!-- Formulario simple que enviará una petición POST -->
    <form action="" method="post" onsubmit="return checkIfComplete()">
      <label for="username">Nombre:</label>
      <input id="username" type="text" name="username" />
      <br />
      <br />
      <label for="password">Pass:</label>
      <input id="password" type="password" name="password" />
      <br />
      <br />
      <input type="submit" value="Registrarme" />
    </form>
  </body>
</html>
